$mainBG_1: linear-gradient(30deg,#171229bf 0%,#2E2357bf 100%);

$subBG_1: #171229;
$subBG_2: #ffffff26;

$mainFont_1: #EDECFF;
$mainFont_2: #BEBEBE;

$subFont_1: #FFCE0A;
$subFont_2: #6795FF;
$subFont_3: #FF7777;

$mainBorder_1: #8A8A8A;
$mainBorder_2: #EDECFF;

$mainShadow_1: #00F9FF;

$remind_1: #94FFBF;
$remind_2: #ff0000;

$filter: #0000009e;

//header
$header_BG: linear-gradient(to bottom,#000000 0%,#000000 70%,transparent 100%);
$header_hoverBG: linear-gradient(to bottom, #000000 0%, #000000 70%, #220f5de6 100%);
$header_scrollBG: #000000;
$header_Hover: #A49FFC;
// $header_Forget: #ff9b1f;
// $header_langBorder: #5a481c;
// $header_langBtn: #f0cc6d;
//header用按鈕
@mixin headerBtn_1 {
    background: #242A4B;
    border-radius: 10px;
    border: none;
    color: #3894D3;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s all;

    &:hover,&:active,&.active {
        box-shadow: 0 0 0 2px #3894D3 inset;
    }
}
@mixin headerBtn_2 {
    background: transparent;
    border: none;
    border-radius: 10px;
    color: #EDECFF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right,#52119F 0%,#BD51F4 100%);
        transition: 0.3s all;
        z-index: -1;
    }

    &:hover,&:active,&.active {
        
        &::before {
            width: 200%;
        }
    }
}
@mixin headerInput {
    background: #9EA2AB;
    border: solid 1px transparent;
    border-radius: 30px;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;

    &::placeholder {
        color: #404040;
        font-size: 12px;
    }

    &:focus {
        border-color: #707070;
    }
}
@mixin headerMoney {
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-right: 15px;

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #EDECFF transparent;
    }
}
@mixin headerMoneyList {
    display: none;
    background: #2B2446;
    border-radius: 16px;
    overflow-y: auto;

    &.display {
        display: block;
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    li {
        width: 100%;
        height: 50px;
        padding: 0 16px;

        &:last-child {

            div {
                border: none;
            }
        }
        
        div {
            width: 100%;
            height: 100%;
            border-bottom: solid 1px #8A8A8A;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: #EDECFF;
                font-size: 14px;
                font-weight: bold;
                position: relative;

                &.money {

                    span {

                        &.fail {
                            color: #FF7777;
                        }
                    }

                    i {
                        display: none;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -6px;
                        animation: circle 1s linear infinite;
    
                        &.display {
                            display: block;
                        }
                    }
    
                    @keyframes circle {
                        0% {
                            transform: translateY(-50%) rotate(0deg);
                        }
    
                        100% {
                            transform: translateY(-50%) rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}
@mixin headerMailRemind {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: 12px;
    right: -9px;
    padding-bottom: 2px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #ed1c24;

    &.display {
        display: flex;
    }
}
//header下拉式選單
$topGameList_BG: linear-gradient(to top,#120636 0%,#220F5De6 100%);
// $topGameList_fixWord: #ffffff;
@mixin underList_arrow {
    background: linear-gradient(to bottom,#6140B3 0%,#469FE3 100%);
    border-radius: 0 50px 50px 0;
    position: relative;
    cursor: pointer;
    opacity: 0.5;

    &.active {
        opacity: 1;
    }
}

//marquee
// $marquee_Title: #ffc13c;
// $marquee_Word: #cd9c33;
// $marquee_BG: #272727;

//ad
// $ad_Arrow: #ffffff;
$ad_dot: #FFFFFF;
$ad_BG: #0D0D0D;

//typeLine
$typeLine_subColor: #00FFFF;

//sideBar
@mixin goTop {
    background: linear-gradient(-45deg,#52119F 0%,#BD51F4 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s all;

    &.display {
        opacity: 1;
    }
}

//slotPage
@mixin slotInput {
    background: #ffffff80;
    border-radius: 30px;
    border: none;
    color: #6B708D;
    font-size: 14px;
    font-weight: bold;
    padding-left: 40px;

    &::placeholder {
        color: #6B708D;
    }
}
@mixin slotBtn_1 {
    background: linear-gradient(to right,#E3C91C 0%,#F451BE 100%);
    border: none;
    border-radius: 10px;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: #F451BE;
    }
}

//innerPage
//lv樣式
@mixin level {
    display: block;
    background: #BA38D2;
    border-radius: 30px;
    color: #EDECFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

//內頁左列快速選擇轉存提按鈕
@mixin quick {
    background: linear-gradient(to bottom,#6140B3 0%,#469FE3 100%);
    border-radius: 50%;
    color: #EDECFF;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;

    &:hover,&:active,&.active {
        background: #3894D3;
    }
}

//內頁左側按鈕樣式
@mixin innerLeftNav {
    background: none;
    border-radius: 16px;
    color: #EDECFF;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 60px;
    
    &:hover,&:active,&.active {
        background: #0000004d;
        color: #6795FF;
    }
}

//KYC 上傳樣式
@mixin upload {
    background: #0000006e;
    border-radius: 15px;
    border: 2px dashed #a4bfff70;
    padding: 20px;

    .add {
        width: 59px;
        height: 59px;
        border-radius: 50px;
        border: 1px solid #A4BFFF;
        margin: 20px;
        position: relative;

        &::before,&::after {
            content: "";
            width: 30px;
            height: 1px;
            background: #A4BFFF;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &::after {
            width: 1px;
            height: 30px;
        }
    }

    button {
        width: auto;
        height: 40px;
        @include secondBtn;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .hint {
        color: #A4BFFF;
        font-size: 13px;
        line-height: 20px;
    }
}

//level升級條樣式
@mixin levelBar {
    background: #ffffff33;
    border-radius: 10px;
    overflow: hidden;

    li {
        background: #ffffff;
        height: 100%;
        border-radius: 10px;
    }
}
$card_textShadow: #00000080;

//帳號低中高強度
$low: #FF7777;
$middle: #FFCE0A;
$high: #00FF00;
//帳號認證與未認證圖示背景
$noCheck: #BEBEBE;
$check: #64E564;

//小錢包樣式
@mixin smallWalletBox {
    background: #00000026;
    border-radius: 16px;
    border: solid 1px #A4BFFF;
    padding: 15px;
}

//bankCard樣式
@mixin bankCard_empty {
    background: #00000049;
    border-radius: 16px;
    border: solid 1px #A4BFFF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

//mail
@mixin mailBtn_1 {
    background: #229890;
    border: none;
    border-radius: 12px;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: #007284;
    }
}
@mixin mailBtn_2 {
    background: #DB6161;
    border: none;
    border-radius: 12px;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: #D22424;
    }
}
$mail_hoverBG: #00000067;

//deposit
@mixin depositBtn {
    background: #1F1137;
    border-radius: 16px;
    border: solid 1px #A4BFFF;
    color: #A4BFFF;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px 0;

    &.active {
        
        &::before,
        &::after {
            display: block;
        }
    }

    &::before {
        display: none;
        content: "";
        position: absolute;
        right: -20px;
        bottom: -20px;
        width: 40px;
        height: 40px;
        background: #A4BFFF;
        transform: rotate(45deg);
    }

    &::after {
        display: none;
        content: "";
        position: absolute;
        right: 4px;
        bottom: 7px;
        width: 10px;
        height: 5px;
        border-style: solid;
        border-width: 0px 0px 1px 1px;
        border-color: #1F1137;
        transform: rotate(-45deg);
    }
}

//agent
$agBlock_BG: linear-gradient(to bottom, #2e2357b0 0%, #171229b0 100%);
$agTable_Border: #6795FF;
$agTable_BG: linear-gradient(to bottom, #469FE3 0%, #6140B3 70%);
$agTable_BG2: #121A29;
$agTable_BG3: #23263C;
$ag_Jumpwindow_font: #A4BFFF;

@mixin agentBtn {
    background: linear-gradient(to right,#FF29F1 0%,#00B0FF 100%);
    border: none;
    border-radius: 50px;
    color: #EDECFF;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;

    &:hover,&:active,&.active {
        filter: brightness(0.7);
    }
}

//彈窗
$jumpWindow_BG: linear-gradient(-150deg,#171229 0%,#2E2357 100%);


//button


//最常用按鈕
@mixin mainBtn {
    background: linear-gradient(to right,#6140B3 0%,#469FE3 100%);
    border: none;
    border-radius: 10px;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: #3894D3;
    }
}
//次按鈕
@mixin secondBtn {
    background: linear-gradient(to right,#52119F 0%,#BD51F4 100%);
    border: none;
    border-radius: 10px;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;

    &:hover,&:active,&.active {
        background: #BD51F4;
    }
}
//次次按鈕
@mixin thirdBtn {
    background: #3D2F6E;
    border: none;
    border-radius: 16px 16px 0 0;
    color: #EDECFF;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;

    &:hover,&:active,&.active {
        background: linear-gradient(-120deg,#6140B3 0%,#469FE3 100%);
        color: #ffffff;
    }
}

//次次次按鈕
@mixin forthBtn {
    background: linear-gradient(to right, #40B372 0%, #2D7BC8 100%);
    border: none;
    border-radius: 10px;
    color: #EDECFF;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;

    &:hover,&:active,&.active {
        background: linear-gradient(-120deg,#40B372 0%, #2D7BC8 100%);
        color: #ffffff;
    }
}

button:disabled {
    color: #BEBEBE !important;
    background: #808080 !important;
    box-shadow: none !important;
    border: none !important;
}



//input


//最常用input
@mixin mainInput {
    background: #483F6E;
    border-radius: 12px;
    border: none;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;

    &::placeholder {
        color: #EDECFF;
    }

    &:focus {
        outline: solid 2px #ff0000;
    }
}


//select


//最常用select
@mixin mainSelect {
    background: #483F6E;
    border-radius: 12px;
    border: none;
    color: #EDECFF;
    font-size: 14px;
    font-weight: bold;
    background-image: linear-gradient(45deg,transparent 50%,#EDECFF 0),linear-gradient(135deg,#EDECFF 50%,transparent 0);
    background-position: calc(100% - 20px) calc(1em + 5px),calc(100% - 15px) calc(1em + 5px);
    background-size: 5px 5px,5px 5px;
    background-repeat: no-repeat;
    padding-left: 15px;

    option {
        background: #2B2446;
        color: #EDECFF;
    }
}


//套件


//pageBox
@mixin pageBox {
    background: #171229;
    border-radius: 5px;
    color: #EDECFF;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: #3E249B;
    }
}

//checkBox
@mixin checkBox {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #342A67;
        border: solid 1px #EDECFF;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &::after {
        display: none;
        content: "";
        width: 60%;
        height: 60%;
        background: #EDECFF;
        border-radius: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }

    &.active {

        &::after {
            display: block;
        }
    }
}

//scrollBar樣式
$scrollBar_thumb: #cccccc;
$scrollBar_track: #ffffff;