//nav
$nav_BG: #101010;

//header
@mixin hamBtn {
    background: #ffbb17;
    border-radius: 5px;
    border: solid 1px transparent;
    transition: 0.3s all;
    padding: 0.625rem;

    &:hover,&:active,&.active {
        background: #000000;
        border-color: #ffbb17;
    }
}
$hamBtn_Color: #101010;

//mainArea
$mainArea_BG: #1f1f1f;
$mainArea_secondBG: #1a1a1a;
$mainArea_gameBox_Color: #f9d369;
$mainArea_gameBox_filterBG: #000000d0;

//button
@mixin mainBtn_1 {
    background: #ffbb17;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #101010;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: #000000;
        border-color: #ffbb17;
        color: #ff4719;
    }
}
@mixin mainBtn_2 {
    background: #000000;
    border-radius: 5px;
    border: 1px solid #ffbb17;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover,&:active,&.active {
        background: linear-gradient(to top,#ffb600 0%, #ff9b00 100%);
        border-color: transparent;
        color: #101010;
    }
}

//input
@mixin inputStyle_1 {
    background: #ffffff;
    border: solid 1px #ced4da;
    border-radius: 5px;
    color: #495057;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s all;
    padding-left: 1.25rem;

    &:focus {
        box-shadow: 0 0 0 2px #007bff40;
    }
}

//主字色
$mainFont_1: #ababab;

//少字色
$subFont_1: #ff9b1f;
$subFont_2: #ff4719;
$subFont_3: #ffffff;

//標頭色
$titleColor_1: #ffbb17;

//border
$mainBorder_1: #ffbb17;

//連結色
$linkColor_1: #00deff;

//共用
@mixin mainStyle {
    width: calc(100% - 270px);
    height: auto;
    transition: 0.3s all;
    padding: 20px;
}

@mixin checkBox {
    background: #101010;
    border: solid 1px #ffbb17;
    position: relative;
    cursor: pointer;

    &::before {
        display: none;
        content: "✓";
        color: #ffffff;
        font-size: 0.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &:hover {
        background-color: #ffbb17;

        &::before {
            color: #101010;
        }
    }
}