html {
    width: 100%;
    height: auto;
    background: #000304;
    position: relative;

    body {
        width: 100%;
        height: 100%;
        min-width: 1400px;
        min-height: 768px;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollBar_thumb;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $scrollBar_track;
            border-radius: 10px;
        }

        @import "./header";
        @import "./ad";
        @import "./sideBar";
        @import "./mainWrap";
        @import "./footer";
        @import "./jumpWindow";
        @import "./gameWrap";
        @import "./event";
        @import "./innerPage";
        @import "./help";
        @import "./register";
        @import "./agent";

        .bg {
            width: 100%;
            min-width: 1400px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}